.titleHeader {
        color: #fff;
        height: 444px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Sensation';
        letter-spacing: 8px;
        font-weight: 100;
        font-size: 7rem;    
        margin: 0;              
    }

