.containerMaes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    padding-top: 9rem;
    gap: 3rem;
}

.cardMaes {
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0px 2px 5px 0px #99ced494;
    border-radius: 5px;
}

.cardMaes img {
    display: block;
    margin: 0;
    width: 250px;
    border-radius: 5px;
}

.cardMaesTexto h1 {
    font-family: 'Sensation';
    font-size: 40pt;
    letter-spacing: 3px;
    color: #4A8DAC;
    font-weight: 300;
}

.cardMaesTexto p {
    font-family: 'Open Sans';
    font-size: 12pt;
    letter-spacing: 1px;
    text-align: justify;
    padding-right: 2rem;
    padding-bottom: 2rem;
    color: #4b6b9a;
}

@media (max-width: 600px) {
    .containerMaes {
        padding: 3rem;
        padding-top: 8.5rem;
        gap: 2rem;
    }

    .cardMaes img {
        width: 180px;
    }

    .cardMaesTexto h1 {
        font-size: 30pt;
        padding-left: 1.8rem;
    }

    .cardMaesTexto p {
        font-size: 6pt;
        letter-spacing: .5px;
        padding-left: 1.8rem;
    }

}